# Pandas Basics

Pandas is a Python library for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data

In [68]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Basic data structures in pandas

1. Series: a one dimensional labeled array holding data of any type. The axis labels are referred to as the index
2. DataFrame: a two dimensional data structure that holds data like a 2D array or a table with rows and columns. Columns are series

We call the axis labels of Series its index. An index can either be passed to a series as a paramter or added later. If you dont specify the index, a series will cointain an index composed of integers starting from 0 and incrementing by 1.

`Series` are typically accessed using the `iloc[]` and `loc[]` methods. We use `iloc[]` to access elements by integer index and we use `loc[]` to access the index of the Series.

In [69]:
series = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Slicing a series
s1 = series[:4]  # slices the first 4 elements
print(s1)

s2 = series[2:5] # first is inclusive, second is exclusive
print(s2)

s3 = series[::3] # slice with step. Starting from first element, selects every 3rd element
print(s3)

s4 = series[3:] # starting from 3 index, selects the rest of the series
print(s4)

s5 = series[series > 4] # conditional slicing. Select all elements greater than 4
print(s5)

0    1
1    2
2    3
3    4
dtype: int64
2    3
3    4
4    5
dtype: int64
0     1
3     4
6     7
9    10
dtype: int64
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [70]:
# Creating DataFrame from dictionary
data = {
    "name": ["Mark", "Sam", "Keith", "Jesse", "Aaron", "Darian"],
    "age": [29, 28, 29, 40, 24, 36]
}

df = pd.DataFrame(data)

# Displace the first and last n rows
print(df.head(2))
print(df.tail(3))

   name  age
0  Mark   29
1   Sam   28
     name  age
3   Jesse   40
4   Aaron   24
5  Darian   36

In [71]:
# Accessing columns
name_column = df['name'] 
print("Name Column: \n", name_column)

multi_columns = df[['name', 'age']]
print("Select Multiple Columns: \n", multi_columns)

# Accessing Rows
row_one = df.loc[0]
print("First row: \n", row_one)

# Accessing Multiple rows
selected_rows = df.loc[2:4] # both numbers here are inclusive, which is different than series slicing
print("Selected rows: \n", selected_rows)

Name Column:
 0      Mark
1       Sam
2     Keith
3     Jesse
4     Aaron
5    Darian
Name: name, dtype: object
Select Multiple Columns:
      name  age
0    Mark   29
1     Sam   28
2   Keith   29
3   Jesse   40
4   Aaron   24
5  Darian   36
First row:
 name    Mark
age       29
Name: 0, dtype: object
Selected rows:
     name  age
2  Keith   29
3  Jesse   40
4  Aaron   24

In [72]:
# Adding a new Column
df["country"] = ["Indonesia", "Canada", "Indonesia", "Canada", "Canada", "Ireland"] # Array needs to match the length of rows, will get error otherwise

# Filtering Data
old_people = df[df['age'] > 29]
old_people

# Copy data frame, reassign first row to all nan and then drop the row
new_df = df.copy()
new_df.iloc[0] = np.nan
new_df = new_df.dropna()
print(new_df)

# Fill missing values with a specific value, currently no missing values in df but this is how you would fill missing data with 0
df_filled = df.fillna(0)

     name   age    country
1     Sam  28.0     Canada
2   Keith  29.0  Indonesia
3   Jesse  40.0     Canada
4   Aaron  24.0     Canada
5  Darian  36.0    Ireland

In [73]:
# Grouping and Aggregation
mean_age_by_country = df.groupby("country")['age'].mean()
print(mean_age_by_country)

country
Canada       30.666667
Indonesia    29.000000
Ireland      36.000000
Name: age, dtype: float64

In [87]:
# Assessing cell values. Remember we can either have an integer index or if we set the index to another column or have some custom unique strings as an index, we can select the row with that. You can still use integer based access even if you set the index to something else.
# Usually when working with financial time series, you're index will be date time strings.

# print df for reference
print(df)

# Using .at[] for label based access. Fast label based scalar access. We will have to set the index of df to something
label_index = ["one", "two", "three", "four", "five", "six"]
df['label_index'] = label_index
df.set_index('label_index', inplace=True)
cell_value = df.at['two', 'country']
print("Country: ", cell_value)

# Using .loc[] for label based access
print("Age: ", df.loc["one", "age"])

# Using .at[] for fast integer based access
cell_value = df.iat[1, 1]
print(cell_value)

# using .iloc[]
cell_value = df.iloc[2, 2]
print(cell_value)

               name  age    country
label_index
one            Mark   29  Indonesia
two             Sam   28     Canada
three         Keith   29  Indonesia
four          Jesse   40     Canada
five          Aaron   24     Canada
six          Darian   36    Ireland
Country:  Canada
Age:  29
28
Indonesia

## Concatenating Dataframes

Here, we'll start with a new datafame

In [74]:
# Concatenate DataFrames vertically. Inserts df2 on the bottom of df1
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
concatenated_df = pd.concat([df1, df2])
concatenated_df

   A  B
0  1  3
1  2  4
0  5  7
1  6  8

## Merging Dataframes

In [75]:
# Merge DataFrames based on a common column
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Age': [25, 30, 22]})
merged_df = pd.merge(df1, df2, on='ID')

merged_df

   ID     Name  Age
0   2      Bob   25
1   3  Charlie   30